.game {
  width: 600px;
  font-size: 20px;
  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_field {
    position: relative;
    height: 400px;
    width: 100%;
    border-radius: 15px;
    border: 3px solid #ac4308;
    -webkit-box-shadow: 0px 8px 27px 8px rgb(207, 48, 12, 90%);
    -moz-box-shadow: 0px 8px 27px 8px rgb(207, 48, 12, 90%);
    box-shadow: 0px 8px 27px 8px rgb(207, 48, 12, 90%);
    // padding-top: 10px;
    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background: url('../assets/Lava_layer_background_2.png');
      filter: brightness(.4);
      z-index: -1;
    }
    canvas {
      max-height: 100% !important;
      max-width: 100% !important;
      &:focus {
        outline: none;
      }
    }
  }
  
}

button {
  margin-bottom: 10px;
  background-color: #4e2a1d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  text-align: center;
  text-shadow: 0px 1px 0px #3d2015;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #603312;
    box-shadow: 0px 2px 0px #b58944;
  }
}